

.Button-ini{
    background-color: #ffe433;
    border-color: red;
    border-radius: 10px;
    width: 160px;
    height:50px ;
    margin: 10px;
    font-size: 20px;
    font-weight:bold ;
    color: #3f517d;
 
 }