.App {
  text-align: center;
}



.App-header {
  background-color: #b7bbc2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.divDatos {
  display: flex;
  justify-content: space-between;
    
}


.divCliente{
  border: solid #b7bbc2 ;
  border-radius: 10px;
  width: 900px;
  margin: 10px;
  align-self: left;
}

.buscar{
  border-radius: 5px;
  width: 500px;
  font-size: 15px;
  margin: 10px;
  align-items: left

}

.imagenPersonaje{
	width: 220px;
	height: 240px ;
  margin: 15px;
	
}

.divResultado{
  display:grid;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 220 220px;
  /* justify-content: space-between; */
}

.titulo{
  width: 220px;
  background-color: #ffe433;
  border-color: rgb(48, 11, 182);
  font-weight:bold ;
}